$primary-color: #efede3;
$disabled-color: #d2d6d9;
$enabled-color: #b5cfe3;


$white: #ffffff;
$off-white: #ddddd6;
$light-gray: #dee2e5;
$gray: #94989b;
$black: #5f5959;
$light-blue: #d4d5df;
$border: #d9d0d0